<% include ../partials/header %>

<div class="container">
  <div class="row panel panel-default">
    <div class="panel-body col-md-12 col-xs-12">
    <h2>Transactions Reports</h2>
    <table id="myTable" class="table table-fixedheader table-bordered table-condensed table-striped table-hover">
      <thead>
        <tr>
          <th width="10%" id="tbldate">Date</th>
          <th width="25%" >Merchant</th>
          <th width="25%" >Account</th>
          <th width="13%" class="rt_aligned">Income/+Adj</th>
          <th width="15%" class="rt_aligned">Spending/-Adj</th>
          <th width="12%" >Reconciled?</th>                        
        </tr>
      </thead>
      <tbody  style="height: 385px">
        <% var total = 0 %>
        <% var income = 0 %>                    
        <% var spending = 0 %>

        <% registers.forEach(function(register) {  %>
        <% var date = register.date.toString() %>
        <% total = total + register.amount%>
        <tr>
          <td width="10%"><%=date.substr(4, 3) + " " + date.substr(8, 2) + " " + date.substr(11, 4)%></td>
          <td width="25%" ><%=register.merchant%></td>
          <td width="25%" ><%=register.accountName%></td>
          <% if (register.amount >= 0) { %>
            <td width="13%" class="rt_aligned"><%=register.amount.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')%></td>     
            <td width="15%"></td></td> 
            <% income = income + register.amount %>
          <% } else { %>
            <td width="13%"></td></td>
            <td width="15%" class="rt_aligned"><%=register.amount.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')%></td>     
            <% spending = spending + register.amount %>
          <% }; %>
          <td width="12%" ><%=register.reconciled.status%></td>
          <%})%>
          <td width="60%" style="text-align: right">Total value</td>
          <td width="13%" class="rt_aligned"><%= income.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,') %></td>
          <td width="15%" class="rt_aligned"><%= spending.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,') %></td>
          <!--<td width="12%" class="rt_aligned"><%//= total.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,') %></td> -->
        </tr>
      </tbody>
    </table>
    <div>
      <a href="/TransRecon/reports/bldTransReports">Go Back</a>
    </div>
  </div>
</div>
 
 <% include ../partials/footer %>