<%  include ../partials/header  %>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1">
    <h2 style="text-align: center;">Delete Register Item</h2>
      <table class="table ">
        <thead>
          <tr>
            <th width="20%" id="tbldate">Date</th>
            <th width="25%" >merchant</th>
            <th width="25%" >Account</th>
            <th width="15%" class="rt_aligned">Amount</th>
            <th width="15%" >Are you sure?</th>
          </tr>
        </thead>
        <tbody style="height: 50px">
          <tr height="15px">
            <td width="20%"><%=register[0].date%></td>
            <td width="25%" ><%=register[0].merchant%></td>
            <td width="25%" ><%=register[0].account_name%></td>
            <td width="15%" class="rt_aligned"><%=register[0].amount%></td>
            <td width="15%">
              <form  method="POST" action="/TransRecon/register/<%=register[0].register_id%>?_method=DELETE">
                  <button type="submit" class="btn btn-xs btn-danger">Yes, Delete This Item</button>
              </form>
            </td>
            <% if (register[0].memo) { %>
              <td><%=register[0].memo%></td>
            <%}%>
            
          </tr>
        </tbody>
      </table>
      <a class="btn btn-lg btn-primary pull-right" href="/TransRecon/register">No, Go Back</a>      
    </div>
  </div>
</div>



<%  include ../partials/footer  %>