<%  include ../partials/header  %>

<div class="container>
    <div class="row">
         <div class="col-md-4 col-xs-4 col-md-offset-4 col-xs-offset-4">
            <h1 style="text-align: center;">Create Recurring Register Item</h1>
        
             <form action="/TransRecon/register/recur" class="form-horizontal" role="form" method="POST">
                <div class="form-group">
                    <!--<input class="form-control" type="text" name="dateDue" placeholder=" Date mm/dd/yyyy">-->
                    <% var currentDate = new Date()
                    var day = currentDate.getDate()
                    var month = currentDate.getMonth() + 1
                    var year = currentDate.getFullYear()
                    var date = month + "/" + day + "/" + year %>
                    <label>Planned Date<input class="form-control" style="width:30%" type="text" name="dateDue" value=<%= date %>></label>
                </div>                
                <div class="form-group">
                    <label>Description<input class="form-control" type = "text" name="description" placeholder="Description" ></label>
                </div>
               <div class="form-group">
                    <label>Amount<input class="form-control" style="width:30%" type="number" step="any" name="amount" required placeholder="Amount  - 9.99"></label>
                </div>                
                <div class="form-group">
                    <label>Account<select class="form-control" name="accountName" required>
                        <%accts.forEach(function(acct) { %>
                            <option value=<%=acct%>><%=acct%></option>
                        <% });%>
                        </select>
                    </label>
                </div>
                <div class="form-group">>
                    <h4> Reconciled?</h4>
                </div>
                                    
                <div class="form-group">
                    <label >
                        <input type="radio" id="yes" name="transfer" value="Yes" /> Yes
                    </label> 
                    <label >
                        <input type="radio" id="no" name="transfer" checked="checked" value="No" /> No
                    </label>
                </div>            
                <div class="form-group">
                    <label>Transfer to Account<select class="form-control" name="transferAccountName">
                        <%accts.forEach(function(acct) { %>
                            <option value=<%=acct%>><%=acct%></option>
                        <% });%>
                        </select>
                    </label>
                </div>
                
                <div class="form-group">
                    <label>Memo<input class="form-control" type="text" name="memo" placeholder="Purpose"></label>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
                <div>
                    <a href="/TransRecon/register">Go Back</a>
                </div>
            </form>
            <!--<a href="/register">Go Back</a>-->
        </div>
        <!--<div class="col-md-3 col-xs-3></div>-->
    </div>
</div>

<%  include ../partials/footer  %>