<% include ../partials/header %>

<div class="container" >
  <div class="panel panel-default">
    <div class="panel  col-md-12 col-xs-12 "> 
      <% if (report === "bank") { %>   
          <h2>Checkbook and Credit Card Balances</h2>    
      <% } else { %>
          <% if (report === "invest") { %>
              <h2>Investment Account Balances</h2>
              <% } else { %>
                  <h2>All Account Balances</h2>
              <% } %>
          <% } %>
      <h3>Browse balances</h3>
   
      <table class="table table-bordered table-condensed table-hover">
        <thead>
          <tr>
            <th>Financial Inst</th>
            <th>Account</th>
            <th>Account Number</th>
            <th class="rt_aligned">Starting Balance</th>
            <th class="rt_aligned">Current Balance</th>
            <% if(report === "bank" || report === 'all') { %>
                <th>Due Date</th>
                <th>Amount Due</th>
            <% } %>
            </tr>
        </thead>
        <tbody>
          <% balances.forEach(function(balances) {  %>
            <tr>
              <td><%=balances.institution%></td>
              <td><%=balances.account_name%></td>
              <td><%=balances.account_id%></td>
              <td class="rt_aligned"><%=Number(balances.starting_balance).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')%></td>
              <td class="rt_aligned"><%=Number(balances.current_balance).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')%></td>
              <% if(balances.account_type === "credit") { %>
                <td><%=balances.due_date%></td>
                <td><%=Number(balances.due_amt).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')%></td>
              <% } %>
                <!--<td> <a class="btn btn-warning btn-xs" href="/balances/<%=balances._id%>/edit">Edit Balances</a></td>-->
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>
 
 <% include ../partials/footer %>