<%  include ../partials/header  %>


<div class="container">
  <div class="row">
    <div class="col-md-4 col-xs-4 col-md-offset-4 col-xs-offset-4">
      <h1>Edit Plan Item</h1>
      <form action="/TransRecon/plan/<%=plan[0].id%>?_method=PUT" method="POST">
        <% var date = plan[0].date.toString();%>
        <div class="form-group">
          <label>Date<input class="form-control" style="width:40%" type="text" name="date" value="<%= date.toString().substr(4, 3) + " " + date.toString().substr(8, 2) + " " + date.toString().substr(11, 4) %>" placeholder="MMM DD YYYY"></label>
        </div>
        <div class="form-group">
          <label>Merchant<input class="form-control" type = "text" name="merchant"  value="<%=plan[0].merchant%>"></label>
        </div>

        <div class="form-group">
          <label>Account Name<select class="form-control" name="account_name" required>
            <% accts.forEach(function(acct) { %>
              <% if (plan[0].account_name === acct.account_name) { %>
                <option value=<%=acct.account_name %> selected="selected"><%= acct.account_name %></option>        
              <% } else { %>
                <option value=<%=acct.account_name %>><%= acct.account_name %></option>
                <% } %>
              <% }); %>
            </select>
          </label>
        </div>
        <div class="form-group">
          <label>Amount<input class="form-control" type="number" style="width:30%" step="any" name="amount"  value="<%= Number(plan[0].amount).toFixed(2) %>"></label>
        </div>
        <div class="form-group">
          <label>Frequency<select class="form-control" name="frequency" value="<%=plan[0].frequency%>">
             <% if (plan[0].frequency === 'Once') { %>
                <option value=<%='Once' %> selected="selected"><%= plan[0].frequency %></option>        
              <% } else { %>
                <option value=<%= 'Once' %>>Once</option>
                <% } %>
              <% if (plan[0].frequency === 'Monthly') { %>
                <option value=<%='Monthly' %> selected="selected"><%= plan[0].frequency %></option>        
              <% } else { %>
                <option value=<%= 'Monthly' %>>Monthly</option>
                <% } %>
                <% if (plan[0].frequency === 'Quarterly') { %>
                <option value=<%='Quarterly' %> selected="selected"><%= plan[0].frequency %></option>        
              <% } else { %>
                <option value=<%= 'Quarterly' %>>Quarterly</option>
                <% } %>
            </select>
          </label>
        </div>
        <% var until_date = plan[0].until_date.toString();%>
        <div class="form-group">
          <label>Until Date<input class="form-control" style="width:40%" type="text" name="until_date" value="<%= until_date.toString().substr(4, 3) + " " + until_date.toString().substr(8, 2) + " " + until_date.toString().substr(11, 4) %>" placeholder="MMM DD YYYY"></label>
        </div>
        <div class="form-group">
          <label>Memo<input class="form-control" type="text" name="memo"  value="<%=plan[0].memo%>"></label>
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-primary">Update</button>
          <button class="pull-right btn btn-lg btn-primary" action="/plan/">Go Back</button>
        </div>
      </form>
    </div>
  </div>
</div>



<%  include ../partials/footer  %>