<%  include ../partials/header  %>

<div class="container">
    <div class="row>">
        <h1 style="text-align: center;">Plan Item</h1>
        
        <div style="width:30%; margin: 40px auto;">
        
            <div class="form-group">
                <input class="form-control" type="text" name="plan[dateDue]" value="<%=plan.dateDue%>">
            </div>
            <div class="form-group">
                <input class="form-control" type = "text" name="plan[merchant]"  value="<%=plan.merchant%>">
            </div>
            <div class="form-group">
                <input class="form-control" type = "text" name="plan[accountName]"  value="<%=plan.accountName%>">
            </div>
            <div class="form-group">
                <input class="form-control" type = "text" name="plan[frequency]"  value="<%=plan.frequency%>">
            </div>
            <div class="form-group">
                <input class="form-control" type="number" step="any" name="plan[planAmount]"  value="<%=plan.planAmount%>">
            </div>
            <div class="form-group">
                <input class="form-control" type="number" step="any" name="plan[chargedAmount]"  value="<%=plan.chargedAmount%>">
            </div>
          
            <a href="/TransRecon/plan">Go Back</a>
        </div>
    </div>
</div>
<%  include ../partials/footer  %>