<% include ../partials/header %>
<!--
<div class="container centered" id="register">
    <h2>Checkbook and Credit Card Register Items</h2>
    <h3>Browse register items</h3>
</div>
</header>-->

<div class="container">
    <div class="row panel panel-default">
        <!--<div class="panel-body col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1">-->
        <div class="panel-body col-md-8 col-xs-8 col-md-offset-2 col-xs-offset-1">
        <h2 style="text-align: center;">User Reports</h2>
     <!--<table class="table table-bordered table-condensed table-hover">-->
            <table id="myTable" class="table table-fixedheader table-bordered table-condensed table-striped table-hover">
        
    <!--<table class="table table-bordered table-condensed table-hover">-->
<!--<div class="container">
      
<table class="table table-bordered table-condensed table-hover">-->
                <thead>
                    <tr>
                        <th width="15%" id="tbldate">Date</th>
                        <th width="30%" >Merchant</th>
                        <th width="30%" >Account</th>
                        <th width="10%" class="rt_aligned">Amount</th>
                        <th width="15%" >Reconciled?</th>                        
                    </tr>
                </thead>
                <tbody  style="height: 400px">
                    <% var total = 0 %>
                    
                    <% registers.forEach(function(register) {  %>
                    <% var date = register.date.toString() %>
                    <% total = total + register.amount%>
                        <tr>
                            <td width="15%"><%=date.substr(4, 3) + " " + date.substr(8, 2) + " " + date.substr(11, 4)%></td>
                            <td width="30%" ><%=register.merchant%></td>
                            <td width="30%" ><%=register.accountName%></td>
                            <!--<td width="10%" class="rt_aligned"><%=register.amount.toFixed(2)%></td>-->
                            <td width="10%" class="rt_aligned"><%=register.amount.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')%></td>                          
                            <td width="15%" ><%=register.reconciled.status%></td>
                            <% if (register.memo) { %>
                                <td><%=register.memo%></td>
                            <%}%>
                        <!--</tr> -->
                    <%})%>
                    <td width="75%" style="text-align: right">Total value</td>
                    <td width="10%" class="rt_aligned"><%= total.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,') %></td>
                        </tr>
                    
                </tbody>
            </table>
            <!--<a class="btn btn-success btn-md floatRight" href="/register/new">Add new register item</a>     -->
            
    </div>
 
</div>
 
 <% include ../partials/footer %>