<%  include ../partials/header  %>

<div class="container">
    <div class="row>">
        <h1 style="text-align: center;">Reconcile Transaction to Register</h1>
        
        <div style="width:30%; margin: 40px auto;">
        
            <form action="/TransRecon/match/<%=transaction._id%>?_method=PUT" method="POST">
                <!--<div class="form-group">-->
                <div class="form-group">
                    <h4>Transaction Date</h4>
                    <h5><%= transaction.date%></h5>
                </div>
                <div class="form-group">
                    <h4>Description</h4>
                    <h5><%= transaction.description%></h5>
                    
                </div>
                <div class="form-group">
                    <h4>Account</h4>
                    <h5><%= transaction.accountName%></h5>
                </div>
                <div class="form-group">
                    <h4>Amount</h4>
                    <% if (transaction.transaction_type === "debit") { %>
                            <h5><%= (transaction.amount * (-1)).toFixed(2)%></h5>
                                <% } else { %>
                            <h5><%= transaction.amount.toFixed(2)%></h5>
                                <% } %>
                        %>
                <div class="form-group">
                    <h4>Reconciled?</h4>
                    <div class="radio">
                        <label>
                            <input type="radio" id="yes" name="reconciled" value="Yes" /> Yes
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" id="no" name="reconciled" checked="checked" value="No" /> No
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" id="pending" name="reconciled" value="Pending" /> Pending
                        </label>
                    </div>
                </div>            
                <div class="form-group">
                    <button class="btn btn-sm btn-primary btn-block narrowBtn">Submit</button>
                </div>
 
            </form>
            <a class="btn btn-success btn-md" href="/TransRecon/match">Go Back to Reconciliation</a>
        </div>
    </div>
</div>
<%  include ../partials/footer  %>